// Currently this carousel only supports exactly 5 images
// must be changed when other images are added, thus this solution is not feasible

.carousel-gallery {
  position: relative;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  height: 550px;
  figure {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    // opacity: 0;
    // animation: display 10s infinite;
  }
}
