// SASS document
// Footer
// -------------------------------------------------
@import "../modules/colors";
@import "../modules/functions";

.teaser {
  background-color: $highlight-color2;
  padding: 4em 2em;
  margin-top: 2em;
  text-align: center;
  color: $immWhite;
  font-size: 1.5em;
}

footer {
  background-color: $highlight-color;
  padding: em(53) 0;

  a {
    font-weight: 400;
    color: $immWhite;
  }

  ul, li {
    margin: 0;
    list-style: none;
  }

  li {
    margin: 9px 0;
  }

  ul li {
    text-transform: uppercase;
    ul li {
      text-transform: none;
    }
  }

  .imm_footerLogo {
    margin-bottom: 28px;
  }

  @media only screen and(max-width: 686px) {
    padding: 1px 0 0 0;

    .row:last-child {
      margin-bottom: 0;
    }

    .project {
      display: none;
    }
  }
}
