// SASS document
// Header
// -------------------------------------------------
@import "../modules/colors";

.site-header .container {
  display: flex;
  flex-direction: row;
  padding: 1em;

  .site-branding {
    flex: 1 1 50%;
  }
}
