// SASS document
// Navigation
// -------------------------------------------------
@import "../modules/functions";
@import "../modules/colors";

.site-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid $highlight-color;

  .primary-navigation {
    margin-left: auto;
    position: relative;
  }

  .menu-wrapper {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

    .menu-item {
      flex: 1 1 auto;
      margin: 0;
    }

    /* Style the links inside the navigation bar */
    a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      &:hover {
        color: black;
      }
      &.active {
        text-decoration: underline;
      }
    }
  }
}

// hamburger menu
label.hamburg {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

input#hamburg {
  display: none;
}

#hamburg {
  &:checked + .hamburg {
    .line:nth-child(1) {
      transform: translateY(12px) rotate(-45deg);
    }
    .line:nth-child(2) {
      opacity: 0;
    }
    .line:nth-child(3) {
      transform: translateY(-12px) rotate(45deg);
    }
  }
}

.line {
  position: absolute;
  height: 4px;
  width: 40px;
  background: $highlight-color;
  border-radius: 1px;
  display: block;
  transition: 0.5s;
  transform-origin: center;

  &:nth-child(1) {
    top: 5px;
  }
  &:nth-child(2) {
    top: 18px;
  }
  &:nth-child(3) {
    top: 30px;
  }
}

@media screen and (max-width: 860px) {
  .primary-menu-container {
    display: none;
  }
  #hamburg {
    &:checked ~ .primary-menu-container {
      display: block;
      .menu-wrapper {
        flex-direction: column;
        position: absolute;
        z-index: 100;
        background: lightgray;
        right: 0;
      }
    }
  }
  label.hamburg {
    display: block;
  }
}
