@import "../modules/colors";
@import "../modules/functions";

.project {
  overflow: hidden;
  summary {
    display: block;
  }
}

.project-filter {
  display: flex;
  justify-content: space-evenly;
  .filter-button {
    background-color: $highlight-color;
    border: none;
    color: $immWhite;
    text-align: center;
    display: flex;
    cursor: pointer;
    height: auto;
    &.active {
      background-color: $highlight-color2;
    }
  }
}

.masonry .masonry-project {
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out, visibility 0s linear 500ms; // , display 0s linear 500ms;
  -moz-transition: opacity 500ms ease-in-out, visibility 0s linear 500ms; // , display 0s linear 500ms;
  -o-transition: opacity 500ms ease-in-out, visibility 0s linear 500ms; // , display 0s linear 500ms;
  transition: opacity 500ms ease-in-out, visibility 0s linear 500ms; // , display 0s linear 500ms;
  &.show {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
  }
}
