// SASS document
// Variables
// -------------------------------------------------

// Used for function em(2). You can either use the default context and specify only the pixels you want to convert
//                                            — or you can specify pixels and a custom context for the conversion.
$browser-context: 16; // Default

// Main font
$immFont-family: 'Source Sans Pro', sans-serif;
$immFont-size: $browser-context;  // default font size. Change here will adjust sizes across the board.
$immFont-lineHeight: $immFont-size * 1.6;  // default font line height. Change here will adjust sizes across the board.
$immFont-weight: 400; // sets the font weight
$immFont-letterSpacing: 0.25;

$immBorder-LineWidth: 1px;

$navigation-clearance: 23;

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;
